#contents {
    display: grid;
    grid-template-rows: 200px 600px 100px;
    grid-template-columns: 100px 1500px 300px;
}

#MenuHeader {
    grid-row: 1 / 2;
    grid-column: 1 / 4 ;
}

main {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}

footer {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#loginMenu ul {
    display: flex;
    justify-content: flex-end;
}


#loginMenu li {
    text-decoration: none;
    list-style: none;
    padding-left: 10%;
    padding-right: 2%;
    margin-top: -5%;
}

/*横並びにする。間隔はページいっぱい均等に*/
#menu ul {
    display: flex;
    justify-content: space-around;
}

/*リストの横の点を消す*/
#menu li {
    width: 15%;
    list-style: none;
}

/*リンクの下線を消す*/
a {
    text-decoration: none;
    color: gray;
}

a:hover {
    padding: 0.5em;
    color: black;
    font-weight: bold;
    border: solid 2px black;
}