.ex1 * {
    color: blue;
}

.ex2 > p {
    color: blueviolet;
}

.ex3 + p {
    color:brown;
}

.ex4 ~ p {
    color: aqua;
}

.ex5 li:first-child {
    list-style: none;
    color: salmon;
}

.ex6:first-letter {
    color:violet;
}

.ex7 ul li:nth-child(odd) {
    color:teal;
}

.ex7 ul li:nth-child(even) {
    background-color: khaki;
}

.ex8 ul li:nth-child(3n-1) {
    color: rebeccapurple;
}